html{
    background-color: #1F4555;
    color: white;
    font-family: 'Courier New', monospace;
}

#title{
    padding-top: 3%;
    display: flex;
    justify-content: center;
    font-size: 400%;
}

form{
    padding-top: 1%;
    display: flex;
    justify-content: center;
}

input{
    width: 50%;
}

a{
    padding-top: 1%;
    font-size: 125%;
    display: flex;
    justify-content: center;
    color: white;
}